body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-site);
}

ol,
ul {
  list-style: none;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

* {
  transition: 0.2s;
}

.app {
  //   font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
  }

  &__main {
    flex: auto;
  }
  &__footer {
    background: #383838;
    min-height: 100px;
  }
}

.container {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
