body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background-color: var(--color-body-bg);
}

ol,
ul {
  list-style: none;
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.app {
  //   font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  // overflow: hidden;

  &__header {
    position: sticky;

    // @include _768 {
    //   position: fixed;
    // }

    top: 0;
    left: 0;
    right: 0;
    z-index: 9996;
  }

  &__main {
    flex: auto;
    min-height: 100vh;
    position: relative;
    & > div:first-child {
      min-height: 100vh;
    }

    @include _768 {
      margin-top: 56px;
    }
  }
  &__footer {
    background: var(--color-footer-bg);
    color: var(--color-footer-text);
    min-height: 300px;
    z-index: 100;
  }
  &__zPlayer {
    position: sticky;
    bottom: 16px;
    max-width: 1240px;
    z-index: 97;
    padding: 0 16px;
    margin: 0 auto 24px auto;
  }
}

hr {
  height: 1px;
  border: 0;
  background-color: var(--bg-menu-item-hover);
}

ul {
  padding: 0;
}
.container {
  max-width: 1240px;
  padding: 0 16px;
  margin: 0 auto;
}
.button,
button {
  &_primary {
    background: var(--color-primary);
    color: var(--color-btn-text);
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 12px;
    min-width: 48px;

    &:hover,
    &:active,
    &_active {
      background: var(--color-primary);
      color: var(--color-btn-text);
      filter: grayscale(0.3);
    }
  }
  &_secondary {
    background: var(--color-secondary);
    color: var(--color-btn-text);
    border-radius: 8px;
    padding: 10px 20px;

    &:hover,
    &:active,
    &_active {
      background: var(--color-secondary);
      color: var(--color-btn-text);
      filter: brightness(0.8);
    }
  }

  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  color: var(--color-text-secondary);
  text-shadow: 0 0 1px var(--color-text-secondary);
  border: 1px solid transparent;
  padding: 0px 12px;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  &:active {
    bottom: -1px;
  }

  &_active,
  &:active,
  &:hover {
    background-color: var(--bg-menu-item-hover);
    color: var(--color-text);
  }

  &_active,
  &:active {
    border: 1px solid var(--color-border);
    box-shadow: 0 2px 2px var(--color-light-shadow);
  }

  &:disabled {
    background: var(--color-secondary);
    opacity: 0.4;
  }
}

input:not([type='submit']),
input:not([type='checkbox']),
input:not([type='select']) {
  border-radius: 10px;
  background: var(--color-input-bg);
  border: 2px solid var(--color-border);
  padding: 8px 20px;
  outline: 0;
  transition: 0.3s;
  width: calc(100% - 40px);
  margin-bottom: 16px;
  &:active,
  &:focus {
    background: var(--color-input-bg-active);
    border-color: var(--color-text-secondary);
  }
}

.scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-left: 4px solid transparent;
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 10px;
  border: 3px solid var(--color-border);
  // outline: 2px solid;
}

.Vue-Toastification__container.bottom-left {
  bottom: 72px !important;
}
