@mixin button-effect {
  opacity: 0.6;
  transition: 0.3s;

  &:hover {
    opacity: 1;
  }
}
@mixin button-effect-innactive {
  opacity: 0.6;
  transition: 0.3s;
}

@mixin unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    not supported by any browser */
}

@mixin _1170 {
  @media (max-width: 1170px) {
    @content;
  }
}
@mixin _979 {
  @media (max-width: 979px) {
    @content;
  }
}
@mixin _768 {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin _600 {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin _480 {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin _350 {
  @media (max-width: 350px) {
    @content;
  }
}
