[data-theme='light'] {
  --bg-site: #f7f7f7;
  --bg-header: #d3d3d3;

  --text-color: #1b1b1b;
  --link-color: #cacaff;
  --btn-color: #17181a;
  --btn-hover-color: #232425;
  --accent: #ffd100;
  --selected-episode: #1d1b24;
}

[data-theme='dark'] {
  --bg-site: #0f3057;
  --header-color: rgb(31, 30, 41);

  --text-color: #e7e7de;
}
