[data-theme='light'] {
  --bg-site: #f6f6f6;
  --bg-header: #fff;
  --border-color: #ececec;

  --text-color: #1b1b1b;
  --link-color: #cacaff;
  --btn-color: #17181a;
  --btn-hover-color: #232425;
}

[data-theme='dark'] {
  --bg-site: #010101;
  --bg-header: #17181a;
  --border-color: #0f0f0f;

  --text-color: #e7e7de;
}
